header {
  height: 100vh;
  max-height: 800px;
  min-height: 500px;
  width: 100%;

  // slider elements
  .glide, .glide__track, .glide__slides {
    @include fill;
  }

  .glide__bullets {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }

  .glide__bullet {
    height: 14px;
    width: 20px;
    background: transparent;
    margin-left: 8px;
    border: 2px solid $navTextColor;
    cursor: pointer;
  }

  .glide__bullet--active {
    background: $lightBlue;
  }
}

// slide images
.slide-newsletter {
  background: url('../images/header/header1-xs.jpg') no-repeat center center;
}
.slide-courses {
  background: url('../images/header/header2-xs.jpg') no-repeat center center;
}

.slide-contact {
  background: url('../images/header/header3-xs.jpg') no-repeat center center;
}

@media only screen and (min-width: $xsBP) and (max-width: 1023px) {
  .slide-newsletter {
    background: url('../images/header/header1-s.jpg') no-repeat center center;
  }

  .slide-courses {
    background: url('../images/header/header2-s.jpg') no-repeat center center;
  }
  
  .slide-contact {
    background: url('../images/header/header3-s.jpg') no-repeat center center;
  }
}

@media only screen and (min-width: $lBP) and (max-width: 1979px) {
  .slide-newsletter {
    background: url('../images/header/header1-m.jpg') no-repeat center center;
  }

  .slide-courses {
    background: url('../images/header/header2-m.jpg') no-repeat center center;
  }
  
  .slide-contact {
    background: url('../images/header/header3-m.jpg') no-repeat center center;
  }
}

@media only screen and (min-width: 1980px) {
  .slide-newsletter {
    background: url('../images/header/header1-l.jpg') no-repeat center center;
  }

  .slide-courses {
    background: url('../images/header/header2-l.jpg') no-repeat center center;
  }
  
  .slide-contact {
    background: url('../images/header/header3-l.jpg') no-repeat center center;
  }
}

.slide-newsletter, .slide-courses, .slide-contact {
  @include fill;
  background-size: cover;
 }

// overlay gradient
.gradient {
  @include fill;
  background: radial-gradient(ellipse, rgba(126, 201, 219, 0.4), rgba(203, 149, 240, 0.3));
}

// header text content container
.box {
  @include flex;
  align-content: center;

  p {
    font: {
      family: $Roboto;
      size: var(--slider-text-size);
      weight: bold;
    }
    max-width: 800px;
    text-transform: uppercase;
    color: $navTextColor;
    @include underline;

    &:after {
      border-color: $navTextColor;
      margin: 3rem auto;
    }
  }

  a {
    width: 70%;
    max-width: 200px;
    border: 3px solid $navTextColor;
    padding: .5em 1em;
    box-shadow: 0 0 4px 1px fade-out(darken($navTextColor, 27%), 0.6);

    div {
      font: {
        family: $Roboto;
        
        weight: bold;
      }
      text-transform: uppercase;
      color: $navTextColor;
    }

    // hover effect for large screens
    @media only screen and (min-width: $lBP) {
      transition: border .15s linear,
                  box-shadow .15s linear,
                  background .15s linear;

      div {
        transition: color .15s linear;
      }

      &:hover {
        border-color: $lightBlue;
        background: $navTextColor;
        box-shadow: 0 0 4px 1px darken($navTextColor, 71%);

        div {
          color: $lightBlue;
        }
      }
    }
  }
}