// about section
#about {
  @include sectionStyles;

  .col {
    margin-top: 3em;

    img {
      width: 100%;
      max-width: 330px;

      @media only screen and (min-width: $mBP) {
        width: 100%;
        max-width: unset;
      }
    }

    p {
      margin-top: 1em;

      @media only screen and (min-width: $mBP) {
        margin-top: 1.5em;
      }
    }

    h3 {
      @extend p;
      font-size: 1.1em;
    }

    @media only screen and (min-width: $mBP) {
      max-width: 31%;
      margin-top: 4em;
    }
  }
}

// newsletter section
#newsletter {
  @include sectionStyles;

  p {
    margin-bottom: 2em;
  }

  .row {
    width: 100%;
  }

  .col {
    width: 100%;

    &:first-child {
      display: none;

      @media only screen and (min-width: $lBP) {
        display: block;
        align-self: center;
        max-width: 30%;

        img {
          width: 100%;
          user-select: none;
        }
      }
    }

    &:last-child {
      @media only screen and (min-width: $lBP) {
        max-width: 65%;
      }
    }
  }
}

#name-input {
  width: 90%;
  max-width: 330px;
  padding: .45em 1em;
  border: 2px solid lighten($textMainColor, 20%);
  transition: border .2s linear;
}

#email-input {
  @extend #name-input;
  margin: .9em 0;
}

#sign-up {
  width: 70%;
  height: 44px;
  max-height: 44px;
  max-width: 200px;
  padding: .5em 1em;
  background: $lightBlue;
  border: none;

  &.hover-effect {
    transition: background .15s linear;
    
    &:hover {
      @media only screen and (min-width: $lBP) {
        background: darken($lightBlue, 15%);
      }
    }
  }

  .btn-text {
    color: white;
  }

  .loading {
    display: none;
    margin: 0 auto;
    height: 25px;
    width: 25px;
    border: 3px solid rgba(255, 255, 255, 0.198);
    border-top: 3px solid white;
    border-radius: 50%;
    animation: spin .7s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}