nav {
  height: 56px;
  width: 100%;
  background: rgba(0, 0, 0, .1);
  z-index: 5;
  position: fixed;
}
#logo {
  float: left;
  height: 56px;
  padding: 16px 0;
  h1 {
    position: absolute;
    left: -10000px;
    user-select: none;
  }
  img {
    height: 100%;
    user-select: none;
  }
}
#links {
  float: right;
  padding-top: 14px;
  ul {
    width: 100%;
    @include clearFix;
  }
  li {
    font-family: $Roboto;
    float: left;
    margin-left: 37px;
    a {
      color: white;
    }
    i {
      color: white;
      font-size: $navMediaIconSize;
      transition: color .1s linear;
    }
    &:nth-child(-n+3) a:hover {
      color: darken(white, 15%);
      padding-bottom: 6px;
      border-bottom: 3px solid darken(white, 15%);
    }
    &:hover a, &:hover i {
      color: darken(white, 15%);
    }
  }
}