/* basic */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  color: var(--text-color);
  font-size: 19px;
}
:root {
  --text-color: #383651;
}
body, ul, li {
  padding: 0;
  margin: 0;
}
.wrapper {
  height: 100%;
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
  text-align: center;
}
a {
  text-decoration: none;
}

/* nav */
nav {
  height: 56px;
}
nav .wrapper {
  padding-top: 9px;
}
h1 {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
}
h2 {
  margin: 0;
  font-size: 36px;
}
#logo {
  float: left;
}
#links {
  float: right;
  margin-top: 7px;
}
nav li {
  float: left;
  margin-left: 37px;
  list-style: none;
  text-transform: uppercase;
}
nav ul:after {
  display: block;
  content: '';
  clear: both;
}

/* header */
header {
  height: 450px;
  width: 100%;
  padding: 40px 0;
  background: url(images/header.jpg) no-repeat center center;
  background-size: cover;  
}
#header-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  height: 370px;
  width: 40%;
  min-width: 300px;
  padding: 9px;  
  border: 6px solid white;
  background: rgba(207, 207, 207, 0.822);
}
#header-text p, #header-text h2 {
  display: block;  
  width: 100%;
  color: black;
}
#header-text p {
  margin: 0;
}
#header-text a {
  display: block;
  height: 42px;
  padding: 10px 40px;
  text-transform: uppercase;
  background: rgb(184, 87, 42);
  color: white;
}


#intro,
#newsletter {
  margin-top: 120px;
}
.text-wrap {
  width: 80%;
  margin: 0 10% 90px 10%;
}
.text-wrap p {
  margin: 30px 0 0 0;
}

/* intro */
.row {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  width: 100%;
  height: 250px;
}
.col-intro {
  flex: 31%;
  max-width: 31%;
  background: rgb(105, 91, 27);
}

/* newsletter */
.col-img {
  align-self: center;
  flex: 30%;
  max-width: 30%;
}
.col-text {
  flex: 65%;
  max-width: 65%;
}
.col-img img {
  width: 100%;
}