/* basic */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  color: var(--text-color);
  font-size: 19px;
}
:root {
  --text-color: #383651;
  --button-color: rgb(184, 87, 42);
  --highlight-color: rgb(230, 160, 49);
}
body, ul, li {
  padding: 0;
  margin: 0;
}
.wrapper {
  height: 100%;
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
  text-align: center;
}
a {
  text-decoration: none;
}
main h2:after {
  display: block;
  content: '';
  width: 70px;
  height: 1px;
  border-top: 4px solid var(--highlight-color);
  margin: 40px auto;
}

/* nav */
nav {
  height: 56px;
}
h2 {
  margin: 0;
  font-size: 36px;
}
#logo {
  height: 46px;
  float: left;
  padding-top: 7px;
}
#logo h1 {
  position: absolute;
  left: -10000px;
  user-select: none;
}
#logo img {
  height: 100%;
}
#links {
  float: right;
  padding-top: 16px;
}
nav li {
  float: left;
  margin-left: 37px;
  padding-bottom: 4px;
  list-style: none;
  text-transform: uppercase;
}
nav li:hover {
  border-bottom: 4px solid var(--highlight-color);
}
nav ul:after {
  display: block;
  content: '';
  clear: both;
}

/* header */
header {
  height: 450px;
  width: 100%;
  padding: 40px 0;
  background: url(images/header.jpg) no-repeat center center;
  background-size: cover;  
}
#header-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  height: 370px;
  width: 40%;
  min-width: 300px;
  padding: 9px;  
  border: 6px solid white;
  background: rgba(207, 207, 207, 0.822);
}
#header-text p, #header-text h2 {
  display: block;  
  width: 100%;
  color: black;
}
#header-text p {
  margin: 0;
}
#header-text a {
  display: block;
  height: 42px;
  padding: 10px 40px;
  text-transform: uppercase;
  background: rgb(184, 87, 42);
  color: white;
  transition: background .2s linear;
}
#header-text a:hover {
  background: rgb(221, 117, 69);
}


#intro,
#newsletter {
  margin-top: 120px;
}
.text-wrap {
  width: 80%;
  margin: 0 10% 90px 10%;
}
.text-wrap p {
  margin: 30px 0 0 0;
}

/* intro */
.row {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  width: 100%;
  height: 250px;
}
.col-intro {
  flex: 31%;
  max-width: 31%;
  background: rgb(105, 91, 27);
}

/* newsletter */
.col-img {
  align-self: center;
  flex: 30%;
  max-width: 30%;
}
.col-text {
  flex: 65%;
  max-width: 65%;
}
.col-img img {
  width: 100%;
  user-select: none;
}

/* newsletter form */
#newsletter-form {
  height: 280px;
  background: rgb(79, 130, 149);
  border: 4px solid rgb(99, 143, 160);
  box-shadow: 5px 5px 2px rgb(183, 203, 211);
  margin-bottom: 0;
}
#newsletter-form p {
  margin-top: 19px;
}
#newsletter-form p, #newsletter-form h3 {
  color: white;
}
#newsletter-form form {
  height: 100%;
  overflow: hidden;
}
#newsletter-form h3 {
  margin: 0;
  padding: 30px 0 0 0;
  font-size: 23px;
}
#sign-up, #email-input {
  width: 60%;
  max-width: 500px;
  min-width: 300px;
  padding: 10px 30px;
  font-weight: bold;
}
#email-input {
  margin-top: 50px;
  border: 2px solid rgb(78, 123, 139);
  outline: none;
  text-align: center;
  border-radius: 7px;
  transition: border .3s linear,
              color .3s linear;
}
#email-input:focus {
  border: 2px solid rgb(131, 171, 185);
}
#sign-up {
  margin-top: 7px;
  background: var(--button-color);
  color: white;
  border: none;
  border-radius: 7px;  
  text-transform: uppercase;
  transition: background .2s linear;
}
#sign-up:hover {
  background: rgb(221, 117, 69);
  color: white;
  cursor: pointer;
}

/* footer */
footer {
  margin-top: 70px;
  min-height: 40px;
  background: rgb(29, 55, 65);
  text-align: center;
}
footer p {
  margin: 0;
  padding: 9px 0;
  color: rgba(255, 255, 255, 0.438);
  font-size: 14px;
}