@mixin pseudoElement {
  content: '';
  display: block;
}
@mixin clearFix {
  &:after {
    @include pseudoElement;
    clear: both;
  }
}
@mixin underline {
  &:after {
    @include pseudoElement;
    width: 6rem;
    height: 1px;
    border-bottom: 5px solid darken($lightBlue, 13%);
    border-radius: 90%;
    margin: 40px auto;
  }
}
@mixin flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@mixin hamburgerBar {
  position: absolute;
  height: 4px;
  width: 100%;  
  border-radius: 6px;
  background: $navTextColor;
}