// font
$Lato: 'Lato', sans-serif;
$Roboto: 'Roboto', sans-serif;
$textSize: 19px;
$sectionTitleSize: 1.7rem;
$navMediaIconSize: 26px;

$copyrightSize: 0.74rem;
$footerIconsSize: 1.35rem;

// colors
$textMainColor: rgb(31, 30, 37);
$navTextColor: white;

$copyrightColor: rgba(255, 255, 255, 0.4);
$footerBgColor: rgb(12, 9, 12);
$footerIconsColor: white;

$lightBlue: rgb(31, 136, 185);

// breakpoints
$xsBP: 440px;
$sBP: 520px;
$smBP: 650px;
$mBP: 768px;
$lBP: 1024px;
$xlBP: 1200px;

:root {
  --section-spacing: 90px;
  --slider-text-size: 2.4rem;

  @media only screen and (min-width: $xsBP) {
    --slider-text-size: 2.9rem;
  }

  @media only screen and (min-width: $mBP) {
    --slider-text-size: 3.9rem;
    --section-spacing: 120px;
  }
}