// font
$fontMain: 'Lato', sans-serif;
$textSize: 19px;
$headingTextSize: 32px;
$footerTextSize: 0.74rem;
$navMediaIconSize: 26px;
$sliderTextSize: 4.6rem;

// colors
$textMainColor: rgb(31, 30, 37);
$headerBgColor: rgba(255, 255, 255, 0.5);
$footerTextColor: rgba(255, 255, 255, 0.335);
$footerBgColor: rgb(12, 9, 12);
$sliderTextColor: rgb(45, 72, 223);

$signUpTextColor: white;
$emailInputColor: rgba(138, 136, 136, 0.37);

$signUpBtnColor: rgb(31, 136, 185);
$ytColor: #F00;
$ghColor: #333;


:root {
  --section-margin: 120px;
}