// font
$Lato: 'Lato', sans-serif;
$Roboto: 'Roboto', sans-serif;
$textSize: 19px;
$headingTextSize: 32px;
$footerTextSize: 0.74rem;
$navMediaIconSize: 26px;

// colors
$textMainColor: rgb(31, 30, 37);
$navTextColor: white;
$footerTextColor: rgba(255, 255, 255, 0.335);
$footerBgColor: rgb(12, 9, 12);

$signUpTextColor: white;
$emailInputColor: rgba(138, 136, 136, 0.37);

$lightBlue: rgb(31, 136, 185);

// breakpoints
$xsBP: 440px;
$sBP: 520px;
$smBP: 650px;
$mBP: 768px;
$lBP: 1024px;

:root {
  --section-margin: 120px;
  --slider-text-size: 2.4rem;

  @media only screen and (min-width: $xsBP) {
    --slider-text-size: 2.9rem;
  }

  @media only screen and (min-width: $mBP) {
    --slider-text-size: 3.9rem;
  }
}